.prod-card-share-span {
  display: block;
  width: 30px;
  height: 30px;
  cursor: pointer;
  transform: translateY(-2.6px);
}
.prod-card-footer-info-container {
  .prod-card-twin-cnt {
    margin-right: 48px;
    cursor: pointer;
  }
}
