:root {
  --grey-lightest: #f7f9fa;
  --white: #ffffff;
  --grey: #c8d1dc;
  --dark-grey: #6b7785;
  --dark-blue: #1f2d3d;
  --dark-blue-border: #2b3f56;
  --darkest-blue: #121a24;
  --green: #72cc18;
  --red-dark: #f63135;
  --turquoise: #1bebb9;

  --navigationBGColor: rgb(255, 255, 255);
  --navigationBorderColor: rgb(255, 255, 255);
  --navigationTextColor: rgb(0, 0, 0);
  --navigationHoverBGColor: rgb(153, 153, 153);
  --contentBGColor: rgb(255, 255, 255, 0);
  --contentTextColor: rgb(0, 0, 0);
  --primaryButtonBGColor: rgb(0, 0, 0);
  --primaryButtonHoverBGColor: rgb(102, 102, 102);
  --primaryButtonTextColor: rgb(255, 255, 255);
  --secondaryButtonBGColor: rgb(0, 0, 0);
  --secondaryButtonTextColor: rgb(0, 0, 0);
  --badgeBGColor: rgb(0, 0, 0);
  --badgeTextColor: rgb(255, 255, 255);
  --linkColor: rgb(0, 0, 0);
}

body {
  margin: 0;
  padding: 20px 40px;
  font-family: 'Open Sans Condensed', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box;
  outline: none;
}

img {
  width: 48px;
  object-fit: cover;
}
