.see-twins-modal-close-btn-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  .see-twins-modal-close-btn {
    background: none;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 3x;
  }
}
.see-twins-modal-friends-container {
  padding: 20px;
}
