@import '../../style.scss';

.social-leftBar {
  @include themify($themes) {
    flex: 2;
    position: sticky;
    top: 115px;
    height: calc(100vh - 135px);
    overflow-y: scroll;
    background-color: themed('bg');
    background-color: #fff;
    color: themed('textColor');
    max-width: 270px;
    @include mobile {
      display: none;
    }

    &::-webkit-scrollbar {
    }

    .container {
      padding: 20px;
      .wrapper {
        hr {
          margin: 20px 0px;
          border: none;
          height: 0.5px;
          background-color: themed('border');
        }

        .menu {
          display: flex;
          flex-direction: column;
          gap: 20px;
          span {
            font-size: 12px;
          }

          .user {
            display: flex;
            align-items: center;
            gap: 10px;
            &:hover {
              cursor: pointer;
            }
            img {
              width: 30px;
              height: 30px;
              border-radius: 50%;
              object-fit: cover;
            }

            span {
              font-size: 14px;
            }
          }

          .item {
            display: flex;
            align-items: center;
            gap: 10px;
            flex-wrap: wrap;

            &:hover {
              cursor: pointer;
            }
            img {
              width: 30px;
            }

            span {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}
